{% extends 'base.html' %}
{% block title %}Ohjeet - {{ recipe.title }}{% endblock %}
{% block content %}
<form class="dialog grid recipe" action="{{ submit_url }}" method="post">
    <input type="submit" hidden />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <h1>{{ recipe.title }}</h1>

    <nav>
        <button name="tab" value="1">①&nbsp;Perustiedot</button>
        <button name="tab" value="2">②&nbsp;Ainesosat</button>
        <button class="current" type="button">③&nbsp;Valmistusohjeet</button>
    </nav>

    <div class="full-width instructions">
        <label class="controls" id="instructions">Ohje</label>
        <label class="actions" id="actions">Siirrä / Poista</label>
        {% for instruction in instructions %}
        <label class="step" for="step_{{ loop.index }}" title="Vaihe {{ loop.index }}">{{ loop.index }}.</label>
        <textarea id="step_{{ loop.index }}" class="controls" name="instructions_{{ instruction.id }}_instructions" rows="5" autofocus
            title="Ohje" aria-labelledby="instructions" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"
            maxlength="2000">{{ instruction.instructions |default('', True)}}</textarea>
        <div class="actions">
            {% if not loop.first %}
            <button class="up" title="Siirrä ylös" aria-label="Siirrä ylös" name="instructions_{{ instruction.id }}_up"
                value="1">↑</button>
            {% else %}
            <span></span>
            {% endif %}
            {% if not loop.last %}
            <button class="down" title="Siirrä alas" aria-label="Siirrä alas"
                name="instructions_{{ instruction.id }}_down" value="1">↓</button>
            {% else %}
            <span></span>
            {% endif %}
            <button class="delete danger" title="Poista rivi" aria-label="Poista rivi"
                name="instructions_{{ instruction.id }}_delete" value="1">✗</button>
        </div>
        {% endfor %}
        <div class="actions">
            <button class="actions" name="instructions_add_row" value="1">Lisää rivi</button>
        </div>
    </div>

    <nav>
        <button type="submit" name="return" value="1">④ Tallenna ja palaa reseptilistaukseen</button>
        <button class="danger" type="submit" name="delete" value="1">ⓧ Poista resepti</button>
    </nav>
</form>
{% endblock %}