{% extends 'base.html' %}
{% block title %}{{ recipe.title }}{% endblock %}
{% block content %}
<form class="dialog grid recipe" action="{{ submit_url }}" method="post">
    <input type="submit" hidden />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <h1>{{ recipe.title }}</h1>

    <nav>
        <button class="current" type="button">①&nbsp;Perustiedot</button>
        <button name="tab" value="2">②&nbsp;Ainesosat</button>
        <button name="tab" value="3">③&nbsp;Valmistusohjeet</button>
    </nav>

    <label for="title">Reseptin nimi</label>
    <input id="title" class="control" type="text" name="title" value="{{ recipe.title }}" autofocus title="Resptin nimi"
        autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" maxlength="100" />

    <label for="summary">Kuvaus</label>
    <textarea id="summary" class="control" name="summary" rows="5" autofocus title="Resptin kuvaus" autocapitalize="off"
        autocomplete="off" autocorrect="off" spellcheck="false" maxlength="2000">{{ recipe.summary }}</textarea>

    <label for="preparation_time">Valmisteluaika (aktiivinen)</label>
    <input id="preparation_time" class="control with-unit" type="number" name="preparation_time"
        title="Valmistusaika (aktiivinen)" value="{{ recipe.preparation_time }}" min="0" max="525600" />
    <span class="unit">minuuttia</span>

    <label for="cooking_time">Valmistusaika (passiivinen)</label>
    <input id="cooking_time" class="control with-unit" type="number" name="cooking_time"
        title="Valmistusaika (passiivinen)" value="{{ recipe.cooking_time }}" min="0" max="525600" />
    <span class="unit">minuuttia</span>

    <fieldset class="control full-width flex categories-edit" title="Kategoriat">
        <legend>Kategoriat</legend>
            {% for category in categories %}
            <div><span class="title">{{ category.title }}</span><span class="action"><button name="category_{{ category.id}}_delete" value="1">ⓧ</button></span></div>
            {% endfor %}
            <div class="add"><input name="category_add" type="text" maxlength="20" placeholder="Uusi kategoria" aria-label="Uusi kategoria" title="Uusi kategoria"/><button title="Lisää uusi kategoria">Lisää</button></div>
    </fieldset>

    <fieldset class="control full-width flex" title="Vaikeustaso">
        <legend>Vaikeustaso</legend>
        <label><input type="radio" name="skill_level" value="1" title="Helppo" aria-label="Helppo" {{ 'checked' if
                recipe.skill_level==1 }}>Helppo</label>
        <label><input type="radio" name="skill_level" value="2" title="Normaali" {{ 'checked' if recipe.skill_level==2
                }}>Normaali</label>
        <label><input type="radio" name="skill_level" value="3" title="Vaikea" {{ 'checked' if recipe.skill_level==3 }}>Vaikea </label>
        <label><input type="radio" name="skill_level" value="4" title="Erittäin vaativa" {{ 'checked' if recipe.skill_level==4 }}>Erittäin
            vaativa </label>
    </fieldset>

    <fieldset class="control full-width flex" title="Julkaise resepti">
        <legend>Julkaise resepti</legend>
        <input type="hidden" name="published.default" value="0" />
        <label><input type="checkbox" name="published" title="Julkinen" value="1" {{ 'checked' if recipe.published==1 }}>Julkinen</label>
    </fieldset>

    <nav>
        <button type="submit" name="return" value="1">④ Tallenna ja palaa reseptilistaukseen</button>
        <button class="danger" type="submit" name="delete" value="1">ⓧ Poista resepti</button>
    </nav>
</form>
<p>
    <a href="{{ request.args.get('back', url_for('.index')) }}">&lt;&lt; Takaisin</a><br />
</p>

{% endblock %}