<div class="recipe-card">
    <div class="header">
        <div>
            <span class="recipe-id" title="Reseptin numero">#{{ recipe.id }}</span>
            <h1>{{ recipe.title }}</h1>
        </div>
        {% if recipe.rating_count > 0 %}
        <span title="{{ recipe.rating|round(2) }}">{{
            "★" * (recipe.rating | int) }}{{
            "★" if 0.75 <= recipe.rating - (recipe.rating | int) else "☆" if 0.25 <=recipe.rating - (recipe.rating |
                int) else "" }} ({{ recipe.rating_count }} kpl)</span>
                {% endif %}
    </div>
    <div class="sub-header">
        <span title="Reseptin laatija">👤 {{ recipe.username }}</span>
        {% if recipe.preparation_time and recipe.cooking_time %}
        <span>Valmistusaika, aktiivinen: {{ recipe.preparation_time }} min, yhteensä: {{ recipe.preparation_time +
            recipe.cooking_time }} min</span>
        {% endif %}
        {% if recipe.skill_level > 0 and recipe.skill_level <= 4 %} <span>Taso: {{
            "Helppo" if recipe.skill_level == 1 else
            "Normaali" if recipe.skill_level == 2 else
            "Vaikea" if recipe.skill_level == 3 else
            "Erittäin vaativa" if recipe.skill_level == 4 else None }}</span>
            {% endif %}
    </div>
    {% for category in categories %}
    {% if loop.first %}
    <div class="categories">
        {% endif %}
        <div>{{ category.title }}</div>
        {% if loop.last %}
    </div>
    {% endif %}
    {% endfor %}
    <div class="content">
        {% if recipe.summary %}
        {% set summary_paragraphs = recipe.summary.splitlines() %}
        {% for p in summary_paragraphs %}
        <p>{{ p }}</p>
        {% endfor %}
        {% endif %}

        {% for ingredient in ingredients %}
        {% if loop.first %}
        <h3>
            Ainekset
            {% if recipe.portions == 1 %}
            ({{ recipe.portions }} annos)
            {% elif recipe.portions %}
            ({{ recipe.portions }} annosta)
            {% endif %}
        </h3>
        <ul class="recipe-ingredients-list">
            {% endif %}
            <li><span class="amount">{{ ingredient.amount }}</span> <span class="unit">{{ ingredient.unit }}</span>
                <span class="ingredient">{{ ingredient.title }}</span>
            </li>
            {% if loop.last %}
        </ul>
        {% endif %}
        {% endfor %}

        {% for step in instructions %}
        {% if loop.first %}
        <h3>Valmistusohjeet</h3>
        <ol class="recipe-instructions-list">
            {% endif %}
            <li>
                {% set instruction_paragraphs = step.instructions.splitlines() %}
                {% for p in instruction_paragraphs %}
                <p>{{ p }}</p>
                {% endfor %}
            </li>
            {% if loop.last %}
        </ol>
        {% endif %}
        {% endfor %}
    </div>
</div>