{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Kaikki julkaistut reseptit{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if recipes_count == 0 %}
<p>
    Tietokannassa ei ole yhtään julkaistua reseptiä.<br />
    Kts. README.md testidatan lisäämiseksi.
</p>
<p>
    <a href="{{ url_for('my.recipes.create') }}">Lisää resepti</a>
</p>
{% else %}
<p>
    Tietokannassa on {{ recipes_count }} resepti{{ "ä" if recipes_count > 1 else "" }}.
    Reseptit on alla listattu niiden arvosteluiden keskiarvon mukaisessa laskevassa
    järjestyksessä.
</p>
<table class="recipe-list">
    <thead>
        <tr>
            <th class="recipe-title">Resepti</th>
            <th class="recipe-actions">Käyttäjien arviot</th>
        </tr>
    </thead>
    <tbody>
        {% for recipe in recipes %}
        <tr>
            <td class="recipe-title"><a href="{{ url_for('.index', recipe_id=recipe.id,
                back=request.url) }}">{{ recipe.title }}</a></td>
            {% if recipe.rating_count %}
            <td class="recipe-actions" title="{{ recipe.rating|round(2) }}">
                <span>{{
                    "★" * (recipe.rating | int) }}{{
                    "★" if 0.75 <= recipe.rating - (recipe.rating | int) else "☆" if 0.25 <=recipe.rating -
                        (recipe.rating | int) else "" }}</span> <span>({{ recipe.rating_count }} kpl)</span>
            </td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "common/pager.html" %}
{% endif %}
{% endblock %}