{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Parhaat reseptit{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if recipes_count == 0 %}
<p>
    Tietokannassa ei ole yhtään julkaistua reseptiä.<br/>
    Kts. README.md testidatan lisäämiseksi.
</p>
<p>
    <a href="{{ url_for('me.recipes.create') }}">Lisää resepti</a>
</p>
{% else %}
<p>
    Tietokannassa on {{ recipes_count }} resepti{{ "ä" if recipes_count > 1 else "" }}.
</p>
<hr>
{% for recipe in recipes %}
<p><a href="{{ url_for('.index', recipe_id=recipe.id, back=request.url) }}">{{ recipe.id }}</a>
    {{ recipe.title }} {{ recipe.published > 0 }} {{ recipe.rating }}</p>
{% endfor %}
<hr>
{% include "common/pager.html" %}
{% endif %}
{% endblock %}