{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ recipe.title }}{% endblock %}</h1>
{% endblock %}

{% block content %}

{% set summary_paragraphs = recipe.summary.splitlines() %}
{% for p in summary_paragraphs %}
    <p>{{ p }}</p>
{% endfor %}

<ul>
    <li>Reseptin laatija: {{ recipe.username }}</li>
    {% if recipe.preparation_time and recipe.cooking_time %}
    <li>Valmistusaika, aktiivinen: {{ recipe.preparation_time }} min</li>
    <li>Valmistusaika, yhteensä {{ recipe.preparation_time + recipe.cooking_time }} min</li>
    {% endif %}
    {% if recipe.skill_level %}
    <li>Vaikeustaso: {{ recipe.skill_level }}</li>
    {% endif %}
    {% for category in categories %}
    {% if loop.first %}
    <li>Kategoriat:
        {% endif %}
        {{ category.title }}
        {%- if not loop.last %}, {% else %}
    </li>
    {% endif %}
    {% endfor %}
    </li>
</ul>

{% for ingredient in ingredients %}
{% if loop.first %}
<h3>
    Ainekset
    {% if recipe.portions == 1 %}
    ({{ recipe.portions }} annos)
    {% elif recipe.portions %}
    ({{ recipe.portions }} annosta)
    {% endif %}
</h3>
<ul>
    {% endif %}
    <li>{{ ingredient.amount }} {{ ingredient.unit }} {{ ingredient.title }}</li>
    {% if loop.last %}
</ul>
{% endif %}
{% endfor %}

{% for step in instructions %}
{% if loop.first %}
<h3>Valmistusohjeet</h3>
<ul>
    {% endif %}
    <li>{{ loop.index }}:
        {% set instruction_paragraphs = step.instructions.splitlines() %}
        {% for p in instruction_paragraphs %}
            <p>{{ p }}</p>
        {% endfor %}
    </li>
    {% if loop.last %}
</ul>
{% endif %}
{% endfor %}

<hr />
{% if g.user.id == recipe.author_id %}
<p>
<em>Tämä on sinun laatima resepti;
<a href="{{ url_for('edit.recipe', recipe_id=recipe.id, back=request.url) }}">muokkaa reseptiä.</a><br/>
Löydät sen myös omista resepteistäsi.
</em>
</p>
{% endif %}
<a href="{{ request.args.get('back', url_for('recipes.index')) }}">&lt;&lt; Takaisin reseptilistaukseen </a>
{% endblock %}