{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Luo uusi resepti{% endblock %}</h1>
{% endblock %}

{% block content %}
<form class="new-recipe-form" method="post">
    <h1>Uusi resepti</h1>
    <p>
        Valitse ensin resptille nimi ja lyhyt kuvaus.
        Seuraavassa vaiheessa lisäät reseptiin ainesosat, varsinaiset valmistusohjeet yms. tiedot.
        Tämän jälkeen voit vielä valita haluatko julkaista reseptin, vai jätätkö sen
        luonnokseksi. Voit muokata omia reseptejäsi myös myöhemmin tämän jälkeen.
    </p>

    {% with errors = get_flashed_messages(category_filter=["form_validation_error"]) %}
    {% if errors %}
    <ul class="message-box">
        {%- for error in errors %}
        <li class="warning">{{ error }}</li>
        {% endfor -%}
    </ul>
    {% endif %} {% endwith %}

    <label for="title">Reseptin nimi</label>
    <input type="text" name="title" id="title" placeholder="Pizza" value="{{ title }}" autofocus />

    <label for="summary">Kuvaus</label>
    <textarea name="summary" id="summary" rows="5"
        placeholder="Hyvä perusresepti pizzapohjalle, kestää jonkin aikaa tehdä mutta niin sen arvoista!">{{ summary }}</textarea>

    <input type="submit" value="Luo resepti" />
</form>
{% endblock %}