{% extends 'base.html' %}
{% block title %}Ohjeet - {{ recipe.title }}{% endblock %}
{% block content %}
<form class="dialog grid recipe" action="{{ submit_url }}" method="post">
    <h1>{{ recipe.title }}</h1>

    <nav>
        <button name="tab" value="1">①&nbsp;Perustiedot</button>
        <button name="tab" value="2">②&nbsp;Ainesosat</button>
        <button class="current" type="button">③&nbsp;Valmistusohjeet</button>
    </nav>

    <fieldset class="control full-width grid">
        <legend>Ohjeet</legend>
        <p>Tämä ominaisuus on toteuttamatta.</p>
    </fieldset>

    <nav>
        <button type="submit" name="return" value="1">④ Tallenna ja palaa reseptilistaukseen</button>
    </nav>
</form>
{% endblock %}