{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Omat reseptit{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>
    Valitse resepti jota haluat muokata.
</p>
<p>
    Sinulla on {{ count }} reseptiä.
</p>
<hr>
{% for recipe in recipes %}
<p><a href="{{ url_for('edit.recipe', recipe_id=recipe.id, back=request.url) }}">{{ recipe.id }}</a> {{ recipe.title }} {{ recipe.published > 0 }}</p>
{% endfor %}
<hr>

{% if prev_page %}
<p><a href="{{ prev_page }}">&lt;&lt; edellinen sivu</a></p>
{% endif %}
{% if next_page %}
<p><a href="{{ next_page }}">seuraava sivu &gt;&gt;</a></p>
{% endif %}

{% endblock %}
