{% extends 'base.html' %}

{% block content %}
<form class="grid dialog" method="post">
  <h1>Kirjautuminen</h1>
  <p>
    Kirjaudu sisään omalla käyttäjä&shy;tunnuksella ja salasanalla.
    Jos sinulla ei ole tunnusta, voit luoda sen
    <a href="{{ url_for('.register') }}">Rekisteröidy</a> valikosta.
  </p>

  {% with errors = get_flashed_messages(category_filter=["form_validation_error"]) %}
  {% if errors %}
  <ul class="message-box">
    {%- for error in errors %}
    <li class="warning">{{ error }}</li>
    {% endfor -%}
  </ul>
  {% endif %} {% endwith %}

  <label for="username">Käyttäjätunnus</label>
  {% if username %}
  <input type="text" name="username" id="username" value="{{ username }}" required />
  {% else %}
  <input type="text" name="username" id="username" autofocus required />
  {% endif %}

  <label class="field-container min" for="password">Salasana</label>
  {% if username %}
  <input type="password" name="password" id="password" autofocus required />
  {% else %}
  <input type="password" name="password" id="password" required />
  {% endif %}

  <button type="submit">Kirjaudu sisään</button>
</form>
{% endblock %}