{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Rekisteröityminen{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <label for="username">Käyttäjätunnus</label>
  <input type="text" name="username" id="username" required>

  <label for="password1">Valitse salasana</label>
  <input type="password" name="password1" id="password1" required>

  <label for="password2">Anna salasana uudestaan</label>
  <input type="password" name="password2" id="password2" required>

  <input type="submit" value="Rekisteröidy!">
</form>
{% endblock %}