{% extends 'base.html' %}

{% block content %}
<form class="grid dialog" method="post">
  <h1>Rekisteröityminen</h1>
  <p>
    Valitse itsellesi uusi käyttäjä&shy;tunnus ja salasana. Käyttäjä&shy;tunnuksen
    on oltava vähintään 4 merkkiä pitkä ja se voi koostua vain kirjaimista
    ja numeroista. Salasanan on oltava vähintään 8 merkkiä pitkä. Salasana
    ei voi olla sama kuin käyttäjätunnus.
  </p>
  <p>
    Jos sinulla on jo tunnus, voit kirjautua
    <a href="{{ url_for('.login') }}">Kirjaudu</a> valikosta.
  </p>

  {% with errors = get_flashed_messages(category_filter=["form_validation_error"]) %}
  {% if errors %}
  <ul class="message-box">
    {%- for error in errors %}
    <li class="warning">{{ error }}</li>
    {% endfor -%}
  </ul>
  {% endif %} {% endwith %}
  <label for="username">Käyttäjätunnus</label>
  {% if username %}
  <input type="text" name="username" id="username" value="{{ username }}" required />
  {% else %}
  <input type="text" name="username" id="username" autofocus required />
  {% endif %}

  <label for="password1">Valitse salasana</label>
  {% if username %}
  <input type="password" name="password1" id="password1" autofocus required />
  {% else %}
  <input type="password" name="password1" id="password1" required />
  {% endif %}

  <label for="password2">Toista salasana</label>
  <input type="password" name="password2" id="password2" required />

  <button type="submit">Luo uusi tunnus</button>
</form>
{% endblock %}