{% extends 'base.html' %}

{% block content %}
<form class="registration-form" method="post">
  <h1>Rekisteröityminen</h1>
  <p>
    Valitse itsellesi uusi käyttäjä&shy;tunnus ja salasana. Käyttäjä&shy;tunnuksen
    on oltava vähintään 4 merkkiä pitkä ja se voi koostua vain kirjaimista
    ja numeroista. Salasanan on oltava vähintään 8 merkkiä pitkä. Salasana
    ei voi olla sama kuin käyttäjätunnus.
  </p>
  <p>
    Jos sinulla on jo tunnus, voit kirjautua
    <a href="{{ url_for('.login') }}">Kirjaudu</a> valikosta.
  </p>

  {% with errors = get_flashed_messages(category_filter=["form_validation_error"]) %}
  {% if errors %}
  <ul class="message-box field-row">
    {%- for error in errors %}
    <li class="field-container warning">{{ error }}</li>
    {% endfor -%}
  </ul>
  {% endif %} {% endwith %}

  <div class="field-row">
    <label class="field-container min" for="username">Käyttäjätunnus</label>
    <input class="field-container" type="text" name="username" id="username" required />
  </div>

  <div class="field-row">
    <label class="field-container min" for="password1">Valitse salasana</label>
    <input class="field-container" type="password" name="password1" id="password1" required />
  </div>

  <div class="field-row">
    <label class="field-container min" for="password2">Toista salasana</label>
    <input class="field-container" type="password" name="password2" id="password2" required />
  </div>

  <div class="field-row">
    <input class="field-container min" type="submit" value="Luo uusi tunnus" />
  </div>
</form>
{% endblock %}