{% extends 'base.html' %}

{% block header %}
<h1>
    {% block title %}
    {% if search_term %}
    Hakutulokset: {{ search_term }}
    {% else %}
    Haku
    {% endif %}
    {% endblock %}
</h1>
{% endblock %}

{% block content %}

<form class="search" method="get">
    <input name="q" placeholder="&#x1F50E;&nbsp;&nbsp;Hae reseptin nimestä, esim. &quot;banaani&quot;"
        value="{{ search_term }}" title="Haku" aria-label="Haku" autocapitalize="off" autocomplete="off"
        autocorrect="off" maxlength="100" spellcheck="false" autofocus />
</form>
{% if search_term %}
{% if recipes_count == 0 %}
<p>
    Hakuehdolla ei löytynyt yhtään reseptiä.
</p>
{% else %}
<p>
    Hakuehdolla löytyi {{ recipes_count }} resepti{{ "ä" if recipes_count > 1 else "" }}.
</p>
<table class="recipe-list">
    <thead>
        <tr>
            <th class="recipe-title">Resepti</th>
            <th class="recipe-actions">Käyttäjien arviot</th>
        </tr>
    </thead>
    <tbody>
        {% for recipe in recipes %}
        <tr>
            <td class="recipe-title"><a href="{{ url_for('recipes.browse.index', recipe_id=recipe.id,
                back=request.url) }}">{{ recipe.title }}</a></td>
            {% if recipe.rating_count %}
            <td class="recipe-actions" title="{{ recipe.rating|round(2) }}"><span>{{
                    "★" * (recipe.rating | int) }}{{
                    "★" if 0.75 <= recipe.rating - (recipe.rating | int) else "☆" if 0.25 <=recipe.rating -
                        (recipe.rating | int) else "" }}</span> <span>({{ recipe.rating_count }} kpl)</span></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "common/pager.html" %}
{% endif %}
{% endif %}
{% endblock %}