{% extends 'base.html' %}

{% block header %}
<h1>
    {% block title %}
    {% if search_term %}
    Hakutulokset: {{ search_term }}
    {% else %}
    Haku
    {% endif %}
    {% endblock %}
</h1>
{% endblock %}

{% block content %}

<form class="search" method="get">
    <input name="q" placeholder="&#x1F50E;&nbsp;&nbsp;Hae reseptin nimestä, esim. &quot;banaani&quot;"
        value="{{ search_term }}" autofocus="" title="Search" aria-label="Search"
        aria-autocomplete="both" aria-expanded="false" aria-haspopup="false" autocapitalize="off" autocomplete="off"
        autocorrect="off" maxlength="20" spellcheck="false" autofocus />
</form>
{% if search_term %}
{% if recipes_count == 0 %}
<p>
    Hakuehdolla ei löytynyt yhtään reseptiä.
</p>
{% else %}
<p>
    Hakuehdolla löytyi {{ recipes_count }} resepti{{ "ä" if recipes_count > 1 else "" }}.
</p>
<table class="recipe-list">
    <thead>
        <tr>
            <th>Resepti</th>
            <th>Käyttäjien arviot</th>
        </tr>
    </thead>
    <tbody>
        {% for recipe in recipes %}
        <tr>
            <td class="recipe-title"><a href="{{ url_for('recipes.browse.index', recipe_id=recipe.id,
                back=request.url) }}">{{ recipe.title }}</a></td>
            {% if recipe.rating %}
            <td class="recipe-actions" title="{{ recipe.rating|round(2) }}">{{
                "★" * (recipe.rating | int) }}{{
                "★" if 0.75 <= recipe.rating - (recipe.rating | int) else "☆" if 0.25 <=recipe.rating - (recipe.rating |
                    int) else "" }} ({{ recipe.rating_count }} kpl)</td>
                    {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "common/pager.html" %}
{% endif %}
{% endif %}
{% endblock %}