{% extends 'base.html' %}
{% block title %}Uusi resepti{% endblock %}
{% block content %}
<form class="dialog grid recipe" action="{{ submit_url }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <h1>Luo uusi resepti</h1>
    <p>
        Valitse ensin resptille nimi ja lyhyt kuvaus.
        Seuraavassa vaiheessa lisäät reseptiin ainesosat, varsinaiset valmistusohjeet yms. tiedot.
        Voit vielä myöhemmin muokata nimeä ja kuvausta sekä valita haluatko julkaista reseptin,
        vai jättää sen luonnokseksi.
    </p>

    {% with errors = get_flashed_messages(category_filter=["form_validation_error"]) %}
    {% if errors %}
    <ul class="message-box">
        {%- for error in errors %}
        <li class="warning">{{ error }}</li>
        {% endfor -%}
    </ul>
    {% endif %} {% endwith %}

    <label for="title">Reseptin nimi</label>
    <input class="control" type="text" name="title" id="title" placeholder="Pizza" value="{{ title }}" autofocus />

    <label for="summary">Kuvaus</label>
    <textarea class="control" name="summary" id="summary" rows="5" placeholder="Hyvä perusresepti pizzapohjalle, kestää jonkin aikaa tehdä mutta niin sen arvoista!">{{ summary }}</textarea>

    <nav>
        <button type="submit">Luo resepti</button>
    </nav>
</form>
{% endblock %}
