{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Omien reseptien muokkaus{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if recipes_count == 0 %}
<p>
    Sinulla ei ole yhtään omaa reseptiä.
</p>
<p>
    <a href="{{ url_for('.create') }}">Lisää uusi</a>
</p>
{% else %}
<p>
    Sinulla on {{ recipes_count }} resepti{{ "ä" if recipes_count > 1 else "" }}.
</p>
<table class="recipe-list">
    <thead>
        <tr>
            <th>Resepti</th>
            <th>Tila</th>
        </tr>
    </thead>
    <tbody>
        {% for recipe in recipes %}
        <tr>
            <td class="recipe-title">
                <a href="{{ url_for('.index', recipe_id=recipe.id, back=request.url) }}">
                    {{ recipe.title }}
                </a>
            </td>
            <td class="recipe-actions">
                {% if recipe.published > 0 %}
                {% else %}
                <em>Ei julkaistu</em>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "common/pager.html" %}
{% endif %}
{% endblock %}