<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %} - Ruokareseptit</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  {% if navigation %}
  <nav class="navigation-bar">
    {% for (level, navigation) in navigation %}
    <ul class="level-{{ level }}">
      {% for (index, item) in navigation %}
      <a href="{{ item.url }}">
        {% if level == 0 and index == 0 %}
        <li class="{{ item.class }} item-{{ index }}"><span class="logo-icon">🍲</span>{{ item.title }}</li>
        {% else %}
        <li class="{{ item.class }} item-{{ index }}">{{ item.title }}</li>
        {% endif %}
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
  </nav>
  {% endif %}
  {% with messages = get_flashed_messages(category_filter=["message"]) %}
  {% if messages %}
  <ul class="message-box">
    {% for message in messages %}
    <li class="message">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <section class="content">
    <header>{% block header %}{% endblock %}</header>
    {% block content %}{% endblock %}
  </section>
</body>

</html>