<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %} - Ruokareseptit</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>

  {% if navigation %}
  <nav class="navigation-bar">
    {% for (level, navigation) in navigation %}
    <ul class="level-{{ level }}">
      {% for item in navigation %}
      <li class="{{ item.class }}"><a href="{{ item.url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
    {% endfor %}
  </nav>
  {% endif %}

  <section class="content">
    {% with messages = get_flashed_messages(category_filter=["message"]) %}
    {% if messages %}
    <ul class="message-box">
      {% for message in messages %}
      <li class="field-row message">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <header>{% block header %}{% endblock %}</header>
    {% block content %}{% endblock %}
  </section>
</body>

</html>