body {
  font-family: sans-serif;
  background-color: burlywood;
}

body.dialog {
  background-color: gray;
  margin: 0;
}

section.content {
  padding-inline: 1em;
}

/* Main navigation bar at the top of page */
nav.navigation-bar {
  min-width: fit-content;
  margin-bottom: 1em;

  /* <a> fully covers all child elements */
  a {
    display: contents;
    color: blue;
  }

  /* Nav levels are flex rows */
  ul {
    background-color: lightcyan;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 0;
    margin: 0;

    /* Base style for nav items in a row,
    all flex equally to fill the available width */
    li {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      padding: 0.5em;
      text-align: center;
      justify-content: center;
      min-width: max-content;
    }

    /* Current selection is highlighted */
    li.current {
      font-weight: bold;
      background-color: lightblue;
    }
  }

  /* Specific exception: first level first two items don't flex */
  ul.level-0 {
    li.logo-icon {
      flex: 0;
      padding: 0;
      padding-inline: 0.2em;
      font-size: 2em;
    }

    li.item-0 {
      flex: 0;
      padding-right: 1em;
    }
  }

  /* Second level navi row; all items have "selected" color */
  ul.level-1 {
    background-color: lightblue;
  }

  /* Third level navigation row; looks like "buttons" */
  ul.level-2 {
    background-color: initial;
    width: min-content;
    margin-top: 1em;
    gap: 1em;

    li {
      background-color: lightgray;
    }

    li.current {
      background-color: lightblue;
    }
  }
}

/* Grid form */
form.grid {
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-gap: 1em;
  min-width: min-content;
  align-items: center;

  /* Header, text area and flash messages span all columns */
  h1,
  p,
  nav,
  ul.message-box {
    grid-column: 1 / -1;
    margin: 0;
  }

  /* Form labels are in the first column */
  label {
    grid-column: labels;
    width: fit-content;
    padding-block: 0.5em;
  }

  /* Form controls are in the second column */
  .control {
    grid-column: controls / -1;
    padding: 0.5em;
  }

  button.control {
    cursor: pointer;
    grid-column: 1 / -1;
    padding: 0.5em;
    margin: auto;
  }
}

/* Centered dialog form */
form.dialog {
  background-color: antiquewhite;
  padding: 1.5em;
  outline-style: solid;
  margin: 3em;

  h1 {
    text-align: center;
  }
}

/* Centered narrow form */
form.login {
  max-width: 30em;
  margin-inline: auto;
}

/* Additional fetures for recipe edit form */
form.recipe {
  grid-template-columns: [labels] auto [controls] 1fr [units] auto;

  nav {
    display: flex;
    gap: 2em;

    button {
      cursor: pointer;
      width: 100%;
      font-size: medium;
      font-weight: bold;
      padding: 0.5em;
      border: 0;
      background-color: lightgray;
    }

    button.current {
      background-color: lightblue;
      cursor: default;
    }

    button:hover {
      background-color: lightblue;
    }
  }

  fieldset label {
    cursor: pointer;

    input {
      cursor: pointer;
    }
  }

  label {
    text-align: right;
    width: initial;
    min-width: max-content;
  }

  .control.full-width {
    grid-column: 1 / -1;
  }

  .control.with-unit {
    grid-column: controls / span 1;
  }

  .unit {
    grid-column: units;
    min-width: max-content;
  }

  textarea {
    resize: vertical;
  }

  .flex {
    display: flex;
    padding-inline: 2em;
    justify-content: space-between;

    label {
      text-wrap-mode: nowrap;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: [amount] auto [unit] auto [title] 1fr [up] auto [down] auto [delete] auto;
    gap: 1em;
    padding-inline: 2em;

    input {
      padding: 0.5em;
    }

    .amount {
      grid-column: amount;
      text-align: right;
      width: 3em;
    }

    .unit {
      grid-column: unit;
      width: 3em;
    }

    .title {
      grid-column: title;
      text-align: left;
    }

    button.up,
    button.down,
    button.delete,
    button.actions {
      cursor: pointer;
      background-color: lightgray;
      border: 0;
      border-radius: 10px;
    }

    button:hover {
      background-color: lightblue;
    }

    .actions {
      grid-column: up / span 3;
      width: 100%;
    }

    .up {
      grid-column: up;
    }

    .down {
      grid-column: down;
    }

    .delete {
      grid-column: delete;
    }
  }
}

/* Message box is a list of flash messages */
ul.message-box {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0.5em;
    text-align: center;
    font-weight: bold;
    margin-block: 1em;
  }

  /* Colors for different flash categories */
  li.warning {
    background-color: lightpink;
  }

  li.message {
    background-color: lightgreen;
  }
}