body {
  font-family: sans-serif;
  background-color: burlywood;
}

nav.navigation-bar {
  display: flex;
  background-color: lightcyan;
  min-width: fit-content;
  flex-direction: column;

  a {
    text-decoration: none;
    color: blue;
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 0.5em;
    text-align: center;
    min-width: max-content;
  }

  li.current {
    background-color: lightblue;
    font-weight: bold;
  }

  ul.secondary {
    background-color: lightblue;
  }

  ul.secondary li.current {
    font-weight: bold;
  }
}

.registration-form {
  min-width: min-content;
  max-width: 30em;
  outline-style: solid;
  padding: 1em;
  background-color: antiquewhite;

  label {
    min-width: 8em;
  }
}

ul.message-box {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0.5em;
    text-align: center;
    font-weight: bold;
  }

  .warning {
    background-color: lightpink;
  }

  .message {
    background-color: lightgreen;
  }
}

.field-row {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .field-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin: 0.5em;
  }

  .min {
    flex-basis: min-content;
  }
}