body {
  font-family: sans-serif;
  background-color: burlywood;
}

nav.navigation-bar {
  min-width: fit-content;
  margin-bottom: 1em;

  a {
    display: contents;
    color: blue;
  }

  ul {
    background-color: lightcyan;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 0.5em;
    text-align: center;
    justify-content: center;
    min-width: max-content;
  }

  li.logo-icon {
    flex: 0;
    padding: 0;
    padding-inline: 0.2em;
    font-size: 2em;
  }

  .level-0 li.item-0 {
    flex: 0;
    padding-right: 1em;
  }

  li.current {
    font-weight: bold;
  }

  .level-0 li.current {
    background-color: lightblue;
  }

  ul.level-1 {
    background-color: lightblue;
  }

  ul.level-2 {
    background-color: initial;
    width: min-content;
    margin-top: 1em;
    gap: 1em;
  }

  .level-2 li {
    background-color: lightgray;
  }

  .level-2 li.current {
    background-color: lightblue;
  }
}

.registration-form,
.login-form {
  min-width: min-content;
  max-width: 30em;
  outline-style: solid;
  padding: 1em;
  margin: auto;
  background-color: antiquewhite;

  label {
    min-width: 8em;
  }
  h1 {
    text-align: center;
  }
}

ul.message-box {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0.5em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
  }

  .warning {
    background-color: lightpink;
  }

  .message {
    background-color: lightgreen;
  }
}

.field-row {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .field-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin: 0.5em;
  }

  .min {
    flex-basis: min-content;
  }
}