{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Omat arvostelut{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if reviews_count == 0 %}
<p>
    Et ole antanut yhtään arvostelua.
</p>
{% else %}
<p>
    Olen antanut {{ reviews_count }} arvostelu{{ "a" if reviews_count > 1 else "n" }}.
</p>
<hr>
<table>
    <tr>
        <th>Resepti</th>
        <th>Arvosana</th>
        <th>Arviointi</th>
        <th></th>
    </tr>
    {% for review in reviews %}
    <tr>
        <td>
            <a href="{{ url_for('.index', review_id=review.id, back=request.url) }}">
                {% if review.title %}
                {{ review.title }}
                {% if review.published == 0 %}
                <em>(julkaisematon)</em>
                {% endif %}
                {% else %}
                <em>(poistettu resepti)</em>
                {% endif %}
            </a>
        </td>
        <td>
            {{ "★" * review.rating }}
        </td>
        <td>
            {{ review.review }}
        </td>
    </tr>
    {% endfor %}
</table>
<hr>
{% include "common/pager.html" %}
{% endif %}
{% endblock %}