{% extends 'base.html' %}
{% block title %}Arvostelu {{ review.id }}{% endblock %}
{% block content %}
<form class="dialog grid recipe" action="{{ submit_url }}" method="post">

    <h1>
        Muokkaa antamaasi arvostelua
    </h1>

    <fieldset class="control full-width flex">
        <legend>Arvosana</legend>
        <label><input type="radio" name="rating" value="1" {{ 'checked' if review.rating==1 }}>★</label>
        <label><input type="radio" name="rating" value="2" {{ 'checked' if review.rating==2 }}>★★</label>
        <label><input type="radio" name="rating" value="3" {{ 'checked' if review.rating==3 }}>★★★</label>
        <label><input type="radio" name="rating" value="4" {{ 'checked' if review.rating==4 }}>★★★★</label>
        <label><input type="radio" name="rating" value="5" {{ 'checked' if review.rating==5 }}>★★★★★</label>
    </fieldset>

    <label for="review">Arvostelu</label>
    <textarea class="control" name="review" id="review" rows="10">{{ review.review }}</textarea>

    <nav>
        <button type="submit" name="return" value="1">④ Tallenna ja palaa listaukseen</button>
        <button class="danger" type="submit" name="delete" value="1">ⓧ Poista arvostelu</button>
    </nav>
</form>
{% if review.published %}
{% include "recipes/common/recipe.html" %}
{% else %}
{% if review.title %}
<em>Et voi nähdä reseptiä koska reseptin tekijä ei ole julkaissut sitä.</em>
{% else %}
<em>Et voi nähdä reseptiä koska se on poistettu.</em>
{% endif %}
{% endif %}
{% endblock %}
